<div>
  <p>
    <strong><%= link_to "#{comment.user.name} #{comment.user.lastname}", comment.user %></strong>: <%= comment.text %>
    |<strong> Likes count: <%= comment.likes_count %></strong>
    <nav style="display: flex; justify-content: space-between; width: 100px">
      <%= button_to 'Delete', post_comment_path(post_id: @post.id, id: comment.id), method: :delete %>
      <% if user_signed_in? %>
        <% like = comment.likes.find_by(likeable_id: comment.id, likeable_type: comment.class.to_s) %>
        <% if like.nil? %>
          <%= button_to 'Like',  post_comment_likes_path(post_id: @post.id, comment_id: comment.id),
                        params: {
                          like: {
                            likeable_id: comment.id,
                            likeable_type: comment.class.to_s
                          }
                        }, method: :post %>
        <% else %>
          <%= button_to 'Unlike',  post_comment_like_path(post_id: @post.id, comment_id: comment.id, id: like.id), method: :delete %>
        <% end %>
      <% end %>
    </nav>
  </p>
</div>