<h1>User <%= "#{@user.name} #{@user.lastname}" %></h1>

<% if @user.subscribed?(current_user) %>
  <%= button_to 'Unsubscribe', user_subscription_path(@user), method: :delete %>
<% else %>
  <%= button_to 'Subscribe', user_subscriptions_path(@user) %>
<% end %>
Subscribers: <%= @user.subscriptions_count %>
Subscriptions: <%= @user.subscribers_count %>

<% unless @user.description.blank? %>
  <h2>About me</h2>
<% end %>
<%= @user.description %>

<% unless @user.posts.empty? %>
  <h3>My posts</h3>
<% end %>
<% @user.posts.each do |post| %>
  <div>
    <%= link_to post.title, post %>
  </div>
<% end %>

<div class="pag-bar mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
