<h1>Posts create</h1>

<%= form_for @post, url: {action: :create} do |f| %>
  <%= "<div>#{@post.errors.full_messages.first}</div>".html_safe if @post.errors.any? %>
  <p class="notice"><%= notice %></p>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, maxlength: 100, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, maxlength: 255, cols: 97, rows: 10, style: "resize:none" %>
  </div>

  <div class="field">
    <%= f.label :pic %><br />
    <%= f.file_field :pic %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<nav style="display: flex; justify-content: space-between; width: 300px">
  <div><%= link_to 'Back', :back %></div>
  <div><%= link_to 'Posts', posts_path %></div>
</nav>
