<h1><%= @post.title %> </h1>
Likes count: <%= @post.likes_count %>
<% like = current_user.likes.find_by(likeable_id: @post.id, likeable_type: @post.class.to_s) %>
<% if like.nil? %>
  <%= button_to 'Like',  post_likes_path(post_id: @post.id),
                params: {
                  like: {
                    likeable_id: @post.id,
                    likeable_type: @post.class.to_s
                  }
                }, method: :post %>
<% else %>
  <%= button_to 'Unlike',  post_like_path(post_id: @post.id, id: like), method: :delete %>
<% end %>
<hr>

<div>
  <%= @post.body %>

  <nav style="display: flex; justify-content: space-between; width: 300px">
    <div><%= link_to 'Back', :back %></div>
    <div><%= link_to 'Posts', posts_path %></div>
    <div><%= link_to 'Edit', {controller: 'posts', action: 'edit'} %></div>
    <div><%= button_to 'Delete', @post, method: :delete %></div>
  </nav>

  <div>
    <%= link_to "Add comment", new_post_comment_path(@post) %>
    <p class="notice"><%= notice %></p>
    <%= render @post.comments %>
  </div>
</div>
