<h1><%= @post.title %> </h1>

<div>
  <%= @post.body %>

  <nav style="display: flex; justify-content: space-between; width: 300px">
    <div><%= link_to 'Back', :back %></div>
    <div><%= link_to 'Posts', posts_path %></div>
    <div><%= link_to 'Edit', {controller: 'posts', action: 'edit'} %></div>
    <div><%= button_to 'Delete', @post, method: :delete %></div>
  </nav>

  <div>
    <%= link_to "Add comment", new_post_comment_path(@post) %>
    <%= render @post.comments %>
  </div>
</div>
